<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body>
    <%- include('../includes/nav.ejs',{cart:cart}) %>
    <main>
      <section class="headline">
        <h1>My products</h1>
        <p>list of all the products...</p>
      </section>
        <% if(prods.length) {%>
          <div class="grid">
               <% for (let product of prods) {%>
              <article class="productItem card">
                <a  href="/product/<%= product.id %>">
                <div class="card-image">
                  <img src="/imagenes/<%= product.imagen %>.jpg" alt="">
                </div>
                <div class="card_header">
                  <h2 class="produc_title"><%= product.title %></h2>
                </div>
                <div class="card-content">
                  <p class="product-description"><%= product.description %></p>
                  <h3 class="product-price"> $<%= product.price %> COP</h3>
                </div>
                </a>
                <div class="card-actions">
                  <button class="btn success" onclick="addToCart('<%= product.id %>','<%= product.price %>')">Add to cart</button>
                </div>
              </article>
              <%}%>
          </div>
        <% } else { %>
          <h2>Prdoducts not found.</h2>
        <% }  %>
     
    </main>
    <script>
      let addToCart = async (id,price) =>{
          fetch('http://localhost:3000/cart/addtoCart',{
              method:"POST",
              body: JSON.stringify({id,price}) ,
              headers: {
                  'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
          }).then(data => data.json())
          .then(data => {
            window.location.reload();
          })
      }
    </script>
<%- include('../includes/footer')%>
